body {
    font-family: "Roboto", Tahoma, sans-serif;
    color: #1D2322;
}

main {
    display: grid;
    grid-template-columns: 66% 33%;
}

body {
    background-color: #DCD8C6;
}

h1,h2,h3,.result {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
}

.card-header {
    margin-left: 1rem;
}

.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    margin: 1rem;
    padding: 1.2rem;
}

.prompt {
    font-size: 1.3rem;
}

.result::before {
    content: '>';
    margin-right: .25rem;
}

.result {
    background-color: #D88D1E66;
}

.result.fail {
    background-color: #F4433666;
}

.result.pass {
    background-color: #5b9d5666;
}
